.Eliminar{
    position: absolute; right: 0;
    margin-right: 2em;
}
ul {
    overflow:auto;
  }
  
  li {
      padding-bottom: 1em;
    white-space:nowrap; 
  }
  input[type="text"]::first-letter{
text-transform:capitalize;
  }
  .ListItem::first-letter{
      text-transform: capitalize;
  }
  
 
  #holder{
    text-align: center;
  }
  #item{
    width:98%;    
    font-size: 1em;
    margin-bottom: .5em;
    border: 1px solid black;
    border-radius:.5em;
    text-align: center;
  }
 ul{
     border: 1px solid black;
     padding-bottom: 1em;
     padding-top: 1em;
     border-radius: 1em;
 }
 .boton{
     width: 69%;
 }
 .clearList{
     width: 29%;
 }
.ListHolder{
padding-bottom: 5.5em;
}
.footerContent{
    padding: .5em;
    text-align: center;
    background-color: white;
    border-top: 1px dashed black;
} h1{    
    text-align: center;
}
.h1content{
    
    background-color: white;
    border-bottom: 1px dashed black;
    text-align:center;
  margin-bottom: .5em;
}
